<h1>Welcome to edit</h1>
<% @users.errors.any? %>
<%= @users.errors.count %>
<% @users.errors.full_messages do |error|%>
<% error %>
<% end %>

<% form_for :user. :url => :user do |f| %>
First name: <%= f.textfield "#{@user.first_name}" %>
Last name: <%= f.textfield "#{@user.last_name}"%>